<div class="banner" style="background:  linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path("flaming_cocktails_xxfxfa.jpg")%>');">
  <div class="banner-content">
    <h1>Welcome to Mr. Cocktail</h1>
    <p>Find new ways to mix your poison ;)</p>
    <div class="search-form">
      <%= form_tag(search_path, :method => "get", id: "search-form", :class => "form-inline text-center") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Cocktails", :class => "form-control" %>
        <%= submit_tag "Search", :name => nil, :class => "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="category-carousel">
    <div class="header">
      <h3>Explore cocktails recipes</h3>
      <%= link_to "See All >", "#", class: "link" %>
    </div>
  </div>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photos.last.path %>);">
          <span class="card-category"><%= cocktail.category %></span>
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
            <p><%= truncate(cocktail.instructions, :length => 30) %></p>
          </div>
          <img class="card-user avatar avatar-large" src="images/jad.png">
          <%= link_to cocktail.name, cocktail_path(id: cocktail.id), class: "card-link" %>
        </div>
        <div class="card-footer">
          <p>Posted on <%= cocktail.created_at.strftime("%d/%m/%Y") %></p>
          <div class="controls">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <h3>Most voted cocktails</h3>
  <div class="product">
    <div class='product-upvote'>
      <div class="product-arrow"></div>
      <div class='product-count'>95</div>
    </div>
    <div class='product-body'>
      <h3>Kudoz</h3>
      <p>Best job offers on your phone</p>
    </div>
    <ul class="list-inline product-controls hidden-sm hidden-xs">
      <li><a href=""><i class="fa fa-heart"></i></a></li>
      <li><a href=""><i class="fa fa-share"></i></a></li>
      <li><a href=""><i class="fa fa-star"></i></a></li>
    </ul>
  </div>

</div>
